<div xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" th:fragment="table">
    <table class="table table-bordered table-striped table-responsive-sm w-100">
        <thead>
        <tr>
            <!-- <th>id</th>-->
            <th>name</th>
            <th>distance</th>
            <th>description</th>
            <th>photoUrl</th>


        </tr>
        </thead>

        <tbody>
        <tr th:each="s: ${planets}">
            <td th:text="${s.getName()}"></td>
            <td th:text="${s.getDistance()}"></td>
            <td th:text="${s.getDescription()}"></td>
            <td >
                <img th:src="@{${s.getPhotoUrl()}}" style="width: 100px; height: auto"/>
            </td>
            <td>
                <form action="/delete" method="post">
                    <input hidden name="id" th:value="${s.getId()}">
                    <button type="submit" class="btn btn-danger btn-sm pt-0 pb-0">delete</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>

</div>
